.title {
	height: 54px;
	margin: 30px auto 0;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 30px;
	line-height: 53.06px;
	letter-spacing: 0px;
	text-align: center;
	background: linear-gradient(180deg, #00c3ff 21.67%, #347df4 61.67%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 2px 3px 0px #0066ff75;
}
