.wrapBg {
  position: relative;
  border: 1px solid transparent;
  z-index: 1;
  .maskBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
  }
}
